<div>
    <div class="">
        <img class="profileImage" src="assets/profile/{{data.foto}}" alt="profile banner">
    </div>
    <div class="ms-5 ps-5 py-5">
        <div class="">
            <h1 >{{data?.nombreUsuario}}</h1>
            <div class="row d-flex">
                <p class="col-1">{{data?.nombreServicio}}</p><span class="col-3">{{data?.direccionUsuario}}</span>
            </div>
            <h2>Sobre mí</h2>
            <p>{{data?.sobreMi}}</p>
        </div>
        <form action="" [formGroup]="myForm" (ngSubmit)="enviarSolicitud(myForm)">
            <input type="hidden" formControlName="idServicioProfesion" [value]="data?.idServicioProfesion">
            <input type="text" formControlName="mensaje" placeholder="Dejame un mensaje">

            <div class="row d-flex">
                <div class="col-2"><button class="botones">Adquirir servicios</button></div>
                <div class="col-1"><button class="botones">Recomendar</button></div>
            </div>
        </form>
        
    </div>
</div>
<router-outlet></router-outlet>