<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <div>
        <div>
            <img id="banner" src="assets/home/banner.jpg" alt="banner">
        </div>
        <div class="row container d-flex">
            <div class="d-flex">
                <div class="col-md-1 bg-primary">1</div>
                <div class="col-md-1 bg-secondary">2</div>
                <div class="col-md-1 bg-success">3</div>
                <div class="col-md-1 bg-dark">4</div>
                <div class="col-md-1 bg-warning">5</div>
                <div class="col-md-1 bg-info">6</div>
                <div class="col-md-1 bg-light">7</div>
                <div class="col-md-1 bg-danger">8</div>
                <div class="col-md-1 bg-primary">9</div>
                <div class="col-md-1 bg-secondary">10</div>
                <div class="col-md-1 bg-success">11</div>
                <div class="col-md-1 bg-danger">12</div>
        </div>
            <div>
                <p>234</p>
                <p>Professionales</p>
            </div>
            <div>
                <p>+60</p>
                <p>Categorias</p>
            </div>
            <div>
                <p>+1000</p>
                <p>Servicios</p>
            </div>
        </div>
        <div class="container justify-content-center">
            <h2>Servicios a domicilio, a tu alcance</h2>
        </div>
        <div>
            <p>En Domi, comprendemos que tu tiempo y tranquilidad son invaluables. Por eso, hemos creado una experiencia
                única que combina confiabilidad, comodidad y atención personalizada. Somos la plataforma que conecta a
                usuarios como tú con profesionales confiables para resolver sus necesidades en el hogar.</p>
        </div>
        <div>
            <img src="" alt="perfilFoto">
            <p>Profesionales Verificados</p>
            <p>Cada plomero, electricista, jardinero o especialista en limpieza de autos ha demostrado su experiencia y
                habilidades.</p>
        </div>
        <div>
            <img src="" alt="perfilFoto">
            <p>Pago Seguro y Transparente</p>
            <p>Sabrás exactamente cuánto pagarás antes de confirmar el servicio.</p>
        </div>
        <div>
            <img src="" alt="perfilFoto">
            <p>Atención Personalizada</p>
            <p>Nuestro equipo de soporte está disponible para responder tus preguntas y resolver cualquier problema.</p>
        </div>
        <div>
            <img src="" alt="">
            <p> Nuestros expertos no solo son confiables, sino también apasionados por lo que hacen. La comodidad es solo el comienzo; la verdadera magia está en la sensación de seguridad y apoyo que experimentarás en cada servicio.</p>
        </div>
        <div>
            <h2>¿Cómo funciona?</h2>
        </div>
        <div>
            <img src="" alt="">
            <p>Sabrás exactamente cuánto pagarás antes de confirmar el servicio.</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Sabrás exactamente cuánto pagarás antes de confirmar el servicio.</p>
        </div>
        <div>
            <img src="" alt="">
            <p>Sabrás exactamente cuánto pagarás antes de confirmar el servicio.</p>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
<router-outlet></router-outlet>