.navbarStyle {
    height: 174px;
}

.linksStyles {
    color: var(--Color-secundario, #4E598C);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 100% */
    letter-spacing: 0.1px;
}