<div class="row mainDIV">
    <div class="col-3 barraLateral">
        <div class="contenedorInterno">
            <a href="#" routerLink="/"><div class="logo mb-5">
                <img style="width: 106px;" src="assets/img/logo.svg" alt="home">
            </div></a>
            <a href="#" routerLink="/"><div class="d-flex align-items-center my-0 py-0">
                <img src="assets/account/home.svg" alt="home" class="me-2">
                <p class="f-20 f-purpleDark my-0">Inicio</p>
            </div></a>

            <div class="p-0 mx-0 mt-2 mb-5">
                <hr>
            </div>

            <a href="#"><div class="d-flex align-items-center mb-5 mt-0">
                <img src="assets/account/ojo.svg" alt="ojo" class="me-2">
                <p class="f-20 f-purpleDark p-0 m-0">Ver como cliente</p>
            </div></a>

            <a href="#"><div class="d-flex align-items-center mb-5 mt-0 py-0">
                <img src="assets/account/maletin.svg" alt="maletin" class="me-2">
                <p class="f-20 f-purpleDark p-0 m-0">Servicios</p>
            </div></a>

            <a href="#"><div class="d-flex align-items-center mb-5 mt-0 py-0">
                <img src="assets/account/user.svg" alt="user" class="me-2">
                <p class="f-20 f-purpleDark p-0 m-0">Perfil</p>
            </div></a>

            <a><div class="d-flex align-items-center mb-5 mt-0 py-0">
                <img src="assets/account/estrella.svg" alt="estrella" class="me-2">
                <p class="f-20 f-purpleDark p-0 m-0">Reseñas</p>
            </div></a>

            <a href="#"><div class="d-flex align-items-center mb-5 mt-0 py-0">
                <img src="assets/account/logout.svg" alt="cerrar sesion" class="me-2">
                <p class="f-20 f-purpleDark p-0 m-0">Cerrar sesión</p>
            </div></a>
        </div>
    </div>
    <div class="contenedorDerechoPrincipal col-9">
        <div class="contenedorSuperior mt-3 d-flex justify-content-end"> <!-- contenedor superior -->
            <div class="d-flex align-items-center me-5">
                <img src="assets/account/mensaje.svg" alt="mensajes">
                <p class="p-0 m-0">Mensajes</p>
            </div>
            <div class="d-flex align-items-center me-5">
                <img src="assets/account/campana.svg" alt="campana">
                <p class="p-0 m-0">Notificaciones</p>
            </div>
            <div class="profilePhotoDIV">
            </div>
        </div>
        <div>
            <div>
                <h1 class="f-32 mensajeBienvenida">¡Bienvenida, Susana!</h1>
            </div>
            <div>
                <h2 class="f-24">Servicios contratados actualmente</h2>
            </div>
            <div>
                <div class="card">
                    <div><img src="" alt=""></div>
                    <div>
                        <p>Javier Gámez</p>
                    </div>
                    <div>
                        <p>Plomero</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>