<div id="mainDIV">
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <div id="mainContainer" class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="row justify-content-center">
                    <img class="img-registro col-7 mb-4" src="assets/img/RegistroIMG.jpg" alt="Imagen De Registro">
                    <p class="col-7">¿Eres un experto en plomería, electricidad, jardinería o cualquier otro servicio
                        para el hogar?
                    </p>
                    <p class="col-7 mb-5">llena el formulario de registro, continua como profesional y comparte tus
                        habilidades con quienes
                        lo
                        necesitan.</p>
                </div>
            </div>
            <div class="container col-md-6">
                <h1 class="mb-5">¡Bienvenido a Domi!</h1>
                <p class="col-10 mb-5">Registrate y descubre la comodidad de tener servicios a domicilio al alcance de
                    tu
                    mano.</p>
                <form>
                    <div class="row g-3 text-center mb-3">
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="text" placeholder="Nombres"
                                formControlName="name">
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <input class="form-control form-input mb-3" type="text" placeholder="Apellidos"
                                formControlName="lastname">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="tel" placeholder="Teléfono"
                                formControlName="tel">
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <input class="form-control form-input mb-3" type="email" placeholder="e-mail"
                                formControlName="email">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="text" placeholder="Dirección"
                                formControlName="address">
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <input class="form-control form-input mb-3" type="text" placeholder="Usuario"
                                formControlName="user">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="password" placeholder="Contraseña"
                                formControlName="pass">
                        </div>
                    </div>
                    <div class="mb-5">
                        <input class="me-2" type="checkbox" id="TerminosyCondiciones">
                        <label class="terms" for="TerminosyCondiciones">Aceptar términos y condiciones</label>
                    </div>
                    <div class="mb-5">
                        <button type="submit" class="form-btn me-3">Registrarse</button>
                        <button type="submit" class="form-btn">Continuar como profesional</button>
                        <div id="test">
                            <button>API</button>
                        </div>
                    </div>
                </form>
                <div class="row mb-4">
                    <hr class="col-md-5 col-sm-5 col-5 align-self-center">
                    <div class="circle"></div>
                    <hr class="col-md-5 col-sm-5 col-5 align-self-center">
                </div>
                <div class="row justify-content-center continuarGoogle mb-4">
                    <button class="googleSign btn btn-outline-light" style="height: 63px; width: 329px;"><img
                            class="me-2" src="assets/img/google.png" alt="Google" width="30px">Continuar con
                        Google</button>
                </div>
                <div class="d-flex col-8 justify-content-end">
                    <p class="me-2">¿Ya tienes una cuenta?</p>
                    <a href="">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>