<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="mainContainer" class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="row justify-content-center">
                    <img class="img-registro col-7 mb-4" src="assets/img/RegistroIMG.jpg" alt="Imagen De Registro">
                    <p class="col-7">¿Eres un experto en plomería, electricidad, jardinería o cualquier otro servicio
                        para el hogar?
                    </p>
                    <p class="col-7 mb-5">llena el formulario de registro, continua como profesional y comparte tus
                        habilidades con quienes
                        lo
                        necesitan.</p>
                </div>
            </div>
            <div class="container col-md-6">
                <h1 class="mb-5">¡Bienvenido a Domi!</h1>
                <p class="col-10 mb-5">Registrate y descubre la comodidad de tener servicios a domicilio al alcance de
                    tu
                    mano.</p>
                <form>
                    <div class="row g-3 text-center mb-3">
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="text" placeholder="Nombres">
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <input class="form-control form-input mb-3" type="text" placeholder="Apellidos">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="tel" placeholder="Teléfono">
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <input class="form-control form-input mb-3" type="email" placeholder="e-mail">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="text" placeholder="Dirección">
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <input class="form-control form-input mb-3" type="text" placeholder="Usuario">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control form-input mb-3" type="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="mb-5">
                        <input class="me-2" type="checkbox" id="TerminosyCondiciones">
                        <label class="terms" for="TerminosyCondiciones">Aceptar términos y condiciones</label>
                    </div>
                    <div class="mb-5">
                        <button type="submit" class="form-btn me-3">Registrarse</button>
                        <button type="submit" class="form-btn">Continuar como profesional</button>
                    </div>
                </form>
                <div class="row mb-4">
                    <hr class="col-md-5 col-sm-5 col-5 align-self-center">
                    <div class="circle"></div>
                    <hr class="col-md-5 col-sm-5 col-5 align-self-center">
                </div>
                <div class="row justify-content-center continuarGoogle mb-4">
                    <button class="googleSign btn btn-outline-light" style="height: 63px; width: 329px;"><img
                            class="me-2" src="assets/img/google.png" alt="Google" width="30px">Continuar con
                        Google</button>
                </div>
                <div class="d-flex col-8 justify-content-end">
                    <p class="me-2">¿Ya tienes una cuenta?</p>
                    <a href="">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <script src=""></script>
</body>

</html>